{% extends "core/index.html" %}


{% block content %}
<div>

    <p> id is -> {{ object.id }}</p>
    <p>convict is -> {{ object.perp }}</p>
    <p>charges are -> {{ object.charges }}</p>
    <p>charge codes are -> {{ object.charges_code }}</p>
    <p>accomplices are -> {{ object.known_accomplices }}</p>
    <p>date of fir -> {{ object.fir_date }}</p>
    <p>date of sentence -> {{ object.conviction_date }}</p>
    <p>comments on crime -> {{ object.comments }}</p>
    <p>sentencer -> {{ object.sentencer }}</p>
    <p>sentence -> {{ object.sentence }}</p>
    

</div>
{% endblock content %}