{% extends "core/index.html" %}
{% block content %}

    <section class="page-title  d-flex justify-content-center align-items-center" style='padding-top:108px;height: 400px;'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <div class="breadcrumbs" data-aos-delay="300" data-aos="zoom-in" data-aos-duration="1000">
                            <h3>OUR BLOGs</h3>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <section class="tf-section grid">
        <div class="container">
            <div class="row">
                    <article class="article">
                        <div class="post p-b42" data-aos="fade-up" data-aos-duration="1200">
                            <div class="image">
                                <img src="assets/images/post/imgpost1.jpg" alt="">
                                <div class="tag">nftartwork</div>
                            </div>
                            <ul class="meta-post">
                                <li><span>by</span><a href="blog-details.html">Admin</a></li>
                                <li><a href="blog-details.html"> 20 Jun 2022</a></li>
                            </ul>
                            <h5 class="title"><a href="blog-details.html">Convert more leads with these three new follow-up ideas</a></h5>
                            <p class="m-b17">We make daily use products more affordable and accessible for a billion
                                Indians by using our in-house technology to power one of the world’s most efficient grocery supply chains. We make daily use products more affordable and accessible for a...</p>
                            <a href="blog-details.html" class="read-more">Read more</a>
                        </div>
                        <div class="post inner-post" data-aos="fade-up" data-aos-duration="800">
                            <div class="image">
                                <img src="assets/images/post/imgpost2.jpg" alt="">
                                <div class="tag">nftartwork</div>
                            </div>
                            <div class="content-post">
                                <ul class="meta-post">
                                    <li><span>by</span><a href="blog-details.html">Admin</a></li>
                                    <li><a href="blog-details.html"> 20 Jun 2022</a></li>
                                </ul>
                                <div class="title h7"><a href="blog-details.html">Why choose a theme that looks good with WooCommerce</a></div>
                                <p>We make daily use products more affordable & accessible for a billion Indians by using our...</p>
                                <a href="blog-details.html" class="read-more">Read more</a>
                            </div>
                        </div>
                        <div class="post inner-post" data-aos="fade-up" data-aos-duration="800">
                            <div class="image">
                                <img src="assets/images/post/imgpost3.jpg" alt="">
                                <div class="tag">nftartwork</div>
                            </div>
                            <div class="content-post">
                                <ul class="meta-post">
                                    <li><span>by</span><a href="blog-details.html">Admin</a></li>
                                    <li><a href="blog-details.html"> 20 Jun 2022</a></li>
                                </ul>
                                <div class="title h7"><a href="blog-details.html">Why choose a theme that looks good with WooCommerce</a></div>
                                <p>We make daily use products more affordable & accessible for a billion Indians by using our...</p>
                                <a href="blog-details.html" class="read-more">Read more</a>
                            </div>
                        </div>
                        <div class="post inner-post" data-aos="fade-up" data-aos-duration="800">
                            <div class="image">
                                <img src="assets/images/post/imgpost4.jpg" alt="">
                                <div class="tag">cryptocurrencies</div>
                            </div>
                            <div class="content-post">
                                <ul class="meta-post">
                                    <li><span>by</span><a href="blog-details.html">Admin</a></li>
                                    <li><a href="blog-details.html"> 20 Jun 2022</a></li>
                                </ul>
                                <div class="title h7"><a href="blog-details.html">Why choose a theme that looks good with WooCommerce</a></div>
                                <p>We make daily use products more affordable & accessible for a billion Indians by using our...</p>
                                <a href="blog-details.html" class="read-more">Read more</a>
                            </div>
                        </div>
                        <div class="post inner-post" data-aos="fade-up" data-aos-duration="800">
                            <div class="image">
                                <img src="assets/images/post/imgpost5.jpg" alt="">
                                <div class="tag">digitalartist</div>
                            </div>
                            <div class="content-post">
                                <ul class="meta-post">
                                    <li><span>by</span><a href="blog-details.html">Admin</a></li>
                                    <li><a href="blog-details.html"> 20 Jun 2022</a></li>
                                </ul>
                                <div class="title h7"><a href="blog-details.html">Why choose a theme that looks good with WooCommerce</a></div>
                                <p>We make daily use products more affordable & accessible for a billion Indians by using our...</p>
                                <a href="blog-details.html" class="read-more">Read more</a>
                            </div>
                        </div>
                        <div class="themesflat-pagination m-t40" data-aos="fade-in" data-aos-duration="800">
                            <ul>
                                <li><a href="#">1</a></li>
                                <li><a href="#" class="active">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                            </ul>
                        </div>
                    </article>
                    <div id="sidebar" class="toggle" data-aos="fade-left" data-aos-delay="300" data-aos-duration="1000">
                        <div class="widget widget-search">
                            <form action="#">
                                <input type="text" placeholder="Search" required="">
                                <button><i class="fal fa-search"></i></button>
                            </form>
                        </div>
                        <div class="widget widget-category">
                            <div class="h7 widget-title">
                                Categories
                            </div>
                            <div class="content-widget">
                                <ul>
                                  <li><a href="#"><span>Latest</span><span class="number">(22)</span></a></li>
                                    <li><a href="#"><span>Analysis</span><span class="number">(45)</span></a></li>
                                    <li><a href="#"><span>Digital Art</span><span class="number">(13)</span></a></li>
                                    <li><a href="#"><span>Collectible</span><span class="number">(12)</span></a></li>
                                    <li><a href="#"><span>Corporate</span><span class="number">(32)</span></a></li>
                                    <li><a href="#"><span>Game</span><span class="number">(05)</span></a></li>
                                    <li><a href="#"><span>Metaverse</span><span class="number">(16)</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget-recent-posts">
                            <div class="h7 widget-title">
                                Recent Posts
                            </div>
                            <div class="content-widget">
                                <ul class="recent-posts">
                                    <li>
                                        <img src="assets/images/post/imgpost6.jpg" alt="">
                                        <ul class="content">
                                            <li class="h8"><a href="blog-details.html">enior Apple employee alleges sexism at</a></li>
                                            <li>
                                                <ul class="meta-post">
                                                    <li class="firt"><span>by</span><a href="blog-details.html">Admin</a></li>
                                                    <li><a href="blog-details.html">20 Jun 2022</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="recent-posts">
                                    <li>
                                        <img src="assets/images/post/imgpost7.jpg" alt="">
                                        <ul class="content">
                                            <li class="h8"><a href="blog-details.html">enior Apple employee alleges sexism at</a></li>
                                            <li>
                                                <ul class="meta-post">
                                                    <li class="firt"><span>by</span><a href="blog-details.html">Admin</a></li>
                                                    <li><a href="blog-details.html">20 Jun 2022</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="recent-posts mb-0">
                                    <li>
                                        <img src="assets/images/post/imgpost8.jpg" alt="">
                                        <ul class="content">
                                            <li class="h8"><a href="blog-details.html">enior Apple employee alleges sexism at</a></li>
                                            <li>
                                                <ul class="meta-post">
                                                    <li class="firt"><span>by</span><a href="blog-details.html">Admin</a></li>
                                                    <li><a href="blog-details.html">20 Jun 2022</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget-category st2">
                            <div class="h8 widget-title st">
                                Archives
                            </div>
                            <div class="content-widget">
                                <ul>
                                    <li><a href="#"><span>October</span><span class="number">(22)</span></a></li>
                                    <li><a href="#"><span>September</span><span class="number">(11)</span></a></li>
                                    <li><a href="#"><span>August</span><span class="number">(14)</span></a></li>
                                    <li><a href="#"><span>July</span><span class="number">(27)</span></a></li>
                                    <li><a href="#"><span>June</span><span class="number">(31)</span></a></li>
                                    <li><a href="#"><span>May</span><span class="number">(21)</span></a></li>
                                    <li><a href="#"><span>April</span><span class="number">(27)</span></a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="widget widget-Tags">
                            <div class="h8 st widget-title">
                                Popular Tags
                            </div>
                            <div class="content-widget">
                                <ul>
                                    <li><a href="#">nftartwork</a></li>
                                    <li><a href="#">rarible</a></li>
                                    <li><a href="#">metaverse</a></li>
                                    <li><a href="#">btc</a></li>
                                    <li><a href="#">nftsstories</a></li>
                                    <li><a href="#">digitalartist</a></li>
                                    <li><a href="#">animation</a></li>
                                    <li><a href="#">cryptocurrencies</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
            </div>
        </div>
    </section>


  {% endblock content %}
