<!DOCTYPE html>
<html lang="en">
<head>
    {% load sass_tags %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrimeChain NFT Collections HTML Template</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/swiper/swiper-bundle.min.css">
    <link href="{% sass_src 'scss/app.scss' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../static/font/font-awesome.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="./../../static/images/logo/preload2.png">
    <link rel="apple-touch-icon-precomposed" href="./../../static/images/logo/preload2.png">
</head>
<body class="header-fixed details inner-page">
        <!-- preloade -->
        <div class="preload preload-container">
            <div class="preload-logo"></div>
        </div>
        <!-- /preload -->
    <div id="wrapper">
        <!-- Header -->
    <header id="header_main" class="header">
        <div class="container">
            <div id="site-header-inner">
                <div class="header__logo">
                    <a href="/home"><img src="assets/images/logo/logo.png" alt=""></a>
                </div>
                <nav id="main-nav" class="main-nav">
                    <ul id="menu-primary-menu" class="menu">
                        <li class="menu-item current-menu-item">
                            <a href="/home/">Home</a>  
                        </li>
                        <li class="menu-item ">
                            <a href="#">About</a>
                            
                        </li>
                      
                        
                        <li class="menu-item"><a href="/blog">Blog</a></li>
                        <li class="menu-item">
                            <a href="contact/">Contact</a>
                        </li>
                    </ul>
                </nav><!-- /#main-nav -->
               
                <div class="mobile-button"><span></span></div><!-- /.mobile-button -->
            </div>
        </div>
    </header>
    <!-- end Header -->

    <section class="page-title">
        <div class="image">
            <img src="assets/images/post/imgpost10.jpg" alt="">
        </div>
    </section>

    <section class="tf-section detail">
        <div class="container">
            <div class="row">
                <article class="article" data-aos="fade-in" data-aos-duration="800">
                    <div class="post p-b23">
                        <div class="image">
                            <div class="tag st2">nftartwork</div>
                        </div>
                        <h4 class="title"><a href="#">Choosing Your NFT Avatar And How You can Set It Up On CrimeChain</a></h4>
                        <ul class="meta-post">
                            <li><span>by</span><a href="#">Admin</a></li>
                            <li><a href="#"> 20 Jun 2022</a></li>
                        </ul>                     
                    </div>
                    <div class="post-details">
                        <p>Users can now set and change avatars directly from their NFT collections and experience a brand new social representation. 
                            We look forward to having more users join us to experience the brand new digital representation of one’s social identity, 
                            discover the true meaning of the digital identity in Web 3.0</p>
                        <p>Keep on reading to learn how to set up your NFT avatar and If we’ve piqued your interest in NFT avatars, 
                            virtual collectibles or just NFTs in general, 
                            you can check out the latest drops and collections on Binance NFT, the official NFT Marketplace of Binance.</p>
                        <div class="image">
                            <img src="assets/images/post/imgpost9.jpg" alt="">
                        </div>
                    </div>
                    <div class="content-details">
                        <h6>What’s The Connection Between The Metaverse</h6>
                        <p>Here at Binance NFT, we believe that NFT avatars will be a new starting point for the user’s path to the metaverse. </p>
                        <ul class="list">
                            <li><svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.76 5.108V2.292L2.652 0.4H5.864L7.712 2.336V5.064L5.864 7H2.652L0.76 5.108Z" fill="white"/>
                                </svg>
                                <span> On top of making its way mainstream, NFT avatars are establishing themselves as the new starting point for a user’s path to the metaverse.</span>
                            </li>
                            <li><svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.76 5.108V2.292L2.652 0.4H5.864L7.712 2.336V5.064L5.864 7H2.652L0.76 5.108Z" fill="white"/>
                                </svg>
                                <span> Users can now set their Binance profile picture into an NFT they own.</span>
                            </li>
                            <li><svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.76 5.108V2.292L2.652 0.4H5.864L7.712 2.336V5.064L5.864 7H2.652L0.76 5.108Z" fill="white"/>
                                </svg>
                                <span> In this article you will learn how to obtain top NFT avatars and how you can set it up on Binance NFT.</span>
                            </li>
                        </ul>
                        <p>Since each NFT avatar project is a community in and of itself, 
                            using an NFT as your profile picture can help forge online connections and a sense of belonging within those spaces.</p>
                    </div>
                    <div class="content-details">
                        <h6>How to Set up your Avatar And Nickname</h6>
                        <p class="st2">Setting up your avatar and personalizing your nickname on Binance is quick and easy. 
                            Users can go to binance.com under Dashboard > Settings > My Profile > Avatar and Nickname. For those of you who own NFT assets, 
                            you can select the NFT you want to use from your collection as your avatar to personalize your profile. 
                            For users who do not own any NFT avatars, check out the NFT avatar collections page to get started.</p>
                        <p>Alternatively, if you’re on nft.binance.com, go to User Center > Settings > Basic > Set Avatar and Nickname, 
                            and you’ll be redirected to the main site. Binance NFT Creators have the option of setting their Avatars on nft.binance.com. 
                            Once you set your new unique nickname, it will be standardized and used across the Binance ecosystem.</p>
                        
                    </div>
                    <div class="content-details">
                        <h6>NFT Avatar Generators</h6>
                        <p class="st2">For those who like to DIY but don’t want to go through the whole creative process, 
                            online NFT Generators offer a fuss-free and easy way to quickly make a wide variety of new avatars using different art styles.</p>
                        <p>You can find a range of NFT marketplaces where you can buy existing NFTs or list your own NFTs for sale.</p>
                        
                    </div>
                    <div class="content-details mb-41">
                        <h6>Avatar Monkeys</h6>
                        <p>For those who just can’t get enough of cartoon primates and aping in, Avatar Monkeys will surely hit the spot. 
                            Check out this special collection of 100 unique monkey NFTs.</p>
                    </div>
                    <div class="wrap-widget">
                        <div class="widget widget-tag style-2">
                            <h6 class="title-widget">Tags:</h6>
                            <ul>
                                <li><a href="#">Analysis,</a></li>
                                <li><a href="#">Digital Art,</a></li>
                                <li><a href="#">Collectible</a></li>
                            </ul>
                        </div>
                        <div class="widget widget-social style-2">
                            <h6 class="title-widget">Share:</h6>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrap-box-details">
                        <div class="previous">
                            <a class="st" href="#">Previous</a>
                            <h6><a href="#">I Couldn’t Help But Splurge On These Epic Fall Finds</a></h6>
                        </div>
                        <div class="next">
                            <a class="st" href="#">Next</a>
                            <h6><a href="#">My Mani Photo Dump To Save To Your Nail Inspo Folder</a></h6>
                        </div>
                    </div>
                </article>         
            </div>
        </div>
    </section>

    <section class="tf-section item-post">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tf-title" data-aos="fade-up" data-aos-duration="800">
                        <p class="h8 sub-title">BLOGS</p>
                        <h4 class="title">related news</h4>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="swiper-container hv2 sl-post" data-aos-delay="100" data-aos="fade-up" data-aos-duration="800">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="post-item active">
                                    <div class="wrap">
                                        <div class="image">
                                            <img src="assets/images/post/imgpost11.jpg" alt="">
                                        </div>
                                        <div class="content-item">
                                            <div class="content">
                                                <div class="meta-post">
                                                    <a href="/blog/">20 Jun 2022</a>
                                                </div>
                                                <div class="h7 title"><a href="/blog/">NFT Guide: Why They Matter For Music?</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="post-item">
                                    <div class="wrap">
                                        <div class="image">
                                            <img src="assets/images/post/imgpost12.jpg" alt="">
                                        </div>
                                        <div class="content-item">
                                            <div class="content">
                                                <div class="meta-post">
                                                    <a href="/blog/">20 Jun 2022</a>
                                                </div>
                                                <div class="h7 title"><a href="/blog/">Max Live X Tacnocde NFT Music</a> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="post-item">
                                    <div class="wrap">
                                        <div class="image">
                                            <img src="assets/images/post/imgpost13.jpg" alt="">
                                        </div>
                                        <div class="content-item">
                                            <div class="content">
                                                <div class="meta-post">
                                                    <a href="/blog/">20 Jun 2022</a>
                                                </div>
                                                <div class="h7 title"><a href="/blog/">Max Live X Tacnocde NFT Music</a> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="post-item">
                                    <div class="wrap">
                                        <div class="image">
                                            <img src="assets/images/post/imgpost11.jpg" alt="">
                                        </div>
                                        <div class="content-item">
                                            <div class="content">
                                                <div class="meta-post">
                                                    <a href="/blog/">20 Jun 2022</a>
                                                </div>
                                                <div class="h7 title"><a href="/blog/">Max Live X Tacnocde NFT Music</a> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="post-item">
                                    <div class="wrap">
                                        <div class="image">
                                            <img src="assets/images/post/imgpost11.jpg" alt="">
                                        </div>
                                        <div class="content-item">
                                            <div class="content">
                                                <div class="meta-post">
                                                    <a href="/blog/">20 Jun 2022</a>
                                                </div>
                                                <div class="h7 title"><a href="#">NFT Guide: Why They Matter For Music?</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="post-item">
                                    <div class="wrap">
                                        <div class="image">
                                            <img src="assets/images/post/imgpost12.jpg" alt="">
                                        </div>
                                        <div class="content-item">
                                            <div class="content">
                                                <div class="meta-post">
                                                    <a href="/blog/">20 Jun 2022</a>
                                                </div>
                                                <div class="h7 title"><a href="/blog/">Max Live X Tacnocde NFT Music</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="post-item">
                                    <div class="wrap">
                                        <div class="image">
                                            <img src="assets/images/post/imgpost13.jpg" alt="">
                                        </div>
                                        <div class="content-item">
                                            <div class="content">
                                                <div class="meta-post">
                                                    <a href="/blog/">20 Jun 2022</a>
                                                </div>
                                                <div class="h7 title"><a href="/blog/">Max Live X Tacnocde NFT Music</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="post-item">
                                    <div class="wrap">
                                        <div class="image">
                                            <img src="assets/images/post/imgpost11.jpg" alt="">
                                        </div>
                                        <div class="content-item">
                                            <div class="content">
                                                <div class="meta-post">
                                                    <a href="/blog/">20 Jun 2022</a>
                                                </div>
                                                <div class="h7 title"><a href="/blog/">Max Live X Tacnocde NFT Music</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        
        <div class="footer-bottom">
            <div class="container">
                <div class="wrap-fx">
                    <div class="Copyright">
                        <p>CrimeChain 2022- ALL rights reserved</p>
                    </div>
                    <ul class="list">
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Cookies</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="contact/">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </footer>

    </div>
    <a id="scroll-top"></a>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/swiper-bundle.min.js"></script>
    <script src="../static/js/swiper.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/jquery.easing.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>