{% extends "core/index.html" %}
{% block content %}

    <section class="page-title p404">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <div class="breadcrumbs center" data-aos="fade-up" data-aos-duration="800">
                            <h1 style='font-size: 150px;margin-bottom: 20px;'>See you soon 👋 </h1>
                            <h2>You are logged out</h2>

                            <a class="tf-button btn-effect" style='margin-bottom: 46px;' href="/">
                                <span class="boder-fade"></span>
                                <span class="effect">Back To Homepage</span>
                            </a>
                        </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock content %}
