{% extends "core/index.html" %}
{% block content %}

    <section class="page-title p404">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <div class="breadcrumbs center" data-aos="fade-up" data-aos-duration="800">
                            <h1 style='font-size:150px'>Thank you for taking interest</h1>
                            <a class="tf-button btn-effect" href="/">
                                <span class="boder-fade"></span>
                                <span class="effect">Back To Homepage</span>
                            </a>

                        </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock content %}
